html{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  background-image: linear-gradient(#000080, #89cff0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer > div > a {
  max-width: 50%;
}

footer img, footer i {
  width: 4rem;
  height: 4rem;
}

footer > div > ul {
  margin: 0;
  padding-top: .5rem;
}

/* Classes */
.bg-custom {
  background: transparent;
}

.footer-custom {
  padding: 0;
}

.container-custom {
  padding: 0;
}

.navbar-custom {
  color: #aa0e28;
}

.social-media {
  font-size: 2.5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table-wrap {
  overflow-y: scroll;
}

/* ID */
#header img {
  width: 6rem;
  height: 6rem;
}

#launch-btn-group {
  display: block;
}

#data-btn-group {
  display: none;
}

#footer-space-program-logo {
  margin-left: 2rem;
}

  #social-media {
    max-width: 50%;
  }

/* Breaking Point */
@media (max-width: 600px) {
  /* Elements */
  header div h2 strong{
    font-size: 2.5rem;
  }

  footer {
    max-height: 6rem;
  }

  /* Classes */
  .table-wrap {
    max-height: 15.5rem;
  }

  /* ID */
  #timer{
    font-size: 2.5rem;
  }

  #header h2{
    font-size: 2.5rem;
  }
}

@media (min-width: 600px) {
  /* Elements */
  header div h2 strong{
    font-size: 2.5rem;
  }

  /* Classes */
  .table-wrap {
    max-height: 21.5rem;
  }

  /* ID */
  #timer{
    font-size: 2.5rem;
  }

  #header h2{
    font-size: 2.5rem;
  }
}

@media (min-width: 768px){
  /* Classes */
  .table-wrap {
    max-height: 27.5rem;
  }
}

@media (min-width: 992px){
  /* Classes */
  .table-wrap {
    max-height: 30.5rem;
  }
}

@media (min-width: 1200px){
  /* Classes */
  .table-wrap {
    max-height: 35.5rem;
  }
}